@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://code.getmdl.io/1.3.0/material.light_blue-green.min.css';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #EFEFEF;
	font-family: 'Ubuntu', sans-serif !important;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100vh;
}

.wrap {
	padding: 0 10vw;
}

.soft-wrap {
	padding: 0 5vw;
}

.main-container {
	padding-top: 15vh;
	height: 100vh;
	background: -moz-linear-gradient(top, #2856b6 0%, #9fd8ef 35%, #f1f1f1 35%, #f1f1f1 100%);
	background: -webkit-linear-gradient(top, #2856b6 0%,#9fd8ef 35%,#f7f7f7 35%,#f1f1f1 100%);
	background: linear-gradient(to bottom, #2856b6 0%,#9fd8ef 35%,#f1f1f1 35%,#f1f1f1 100%);
}

a i {
	color: black;
}

[white] {
	color: white;
}

i {
	font-size: 1.4em !important;
}
